*.Rproj.user
*.Rhistory
*.RData
*.rds
*.o
*.dll
*.html
*.png
*.pdf
*.svg
*.zip
/data-raw/excel_files/
/data-raw/nafo_scr/
.Rproj.user
/analysis/multispecies_surplus_production_explorations_cache/
!data/*.RData
!analysis/paper/figures/*.png
